{% extends 'customer/inc/base.html' %} {% block content %} {% load static %}

<div class="unit-5 overlay" style="background-image: url({% static 'customer/images/hero_bg_2.jpg' %}); ">
    <div class="container text-center">
        <h2 class="mb-0">About Us</h2>
        <p class="mb-0 unit-6"><a href="index.html">Home</a> <span class="sep">></span> <span>About Us</span></p>
    </div>
</div>







<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-5">
                <img src="{% static 'customer/images/about.jpg' %}" class="img-md-fluid" alt="Placeholder image" height="300" width="500">
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="bg-white pl-lg-5 pl-0  pb-lg-5 pb-0">
                    <h2 class="font-weight-bold text-black">Who We Are</h2>
                    <p>Online Innovators and Business Portal is a web application, Where we try to resolve confusion about Business Query and accomplish the desires of consumers that How to Start a New Business from this Portal. The basic idea to create
                        this Online Platform is to Provide Idiomatic Approach of Business Plans to the People.
                    </p>
                    <ul class="site-block-check">
                        <li>Business Idea for New Startup.</li>
                        <li>Technical Support</li>
                        <li>Business Setup Guide.</li>
                        <li>Security Assurance.</li>
                        <li>Very Low Cost.</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- END section -->


<!-- END section -->

<div class="site-section border-top">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-6">
                <h2 class="text-black"><strong>How we can help in setup your business</strong> </h2>
            </div>
        </div>
        <div class="row hosting">
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos-delay="100">

                <div class="unit-3 h-100 bg-white">

                    <div class="d-flex align-items-center mb-3 unit-3-heading">
                        <div class="unit-3-icon-wrap mr-4">
                            <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                    <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                  </svg><span class="unit-3-icon icon fl-bigmug-line-search74"></span>
                        </div>
                        <h2 class="h5">Search Millions of Ideas of Categories</h2>
                    </div>
                    <div class="unit-3-body">
                        <p>You could get millions of ideas of different categories and make your dream comes true to start your business</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos-delay="200">

                <div class="unit-3 h-100 bg-white">

                    <div class="d-flex align-items-center mb-3 unit-3-heading">
                        <div class="unit-3-icon-wrap mr-4">
                            <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                    <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                  </svg><span class="unit-3-icon icon fl-bigmug-line-big104"></span>
                        </div>
                        <h2 class="h5">Lower Cost</h2>
                    </div>
                    <div class="unit-3-body">
                        <p>Using our web portal you could setup your buisness with minimum cost with ease</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos-delay="300">

                <div class="unit-3 h-100 bg-white">

                    <div class="d-flex align-items-center mb-3 unit-3-heading">
                        <div class="unit-3-icon-wrap mr-4">
                            <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                    <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                  </svg><span class="unit-3-icon icon fl-bigmug-line-save15"></span>
                        </div>
                        <h2 class="h5">Security Assurance</h2>
                    </div>
                    <div class="unit-3-body">
                        <p>We ensure our innovators id verified and experienced technical person and you could trust to them for your business setup without any hasitation</p>
                    </div>
                </div>

            </div>

            <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos-delay="400">

                <div class="unit-3 h-100 bg-white">

                    <div class="d-flex align-items-center mb-3 unit-3-heading">
                        <div class="unit-3-icon-wrap mr-4">
                            <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                    <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                  </svg><span class="unit-3-icon icon fl-bigmug-line-user144"></span>
                        </div>
                        <h2 class="h5">Expert Innovators </h2>
                    </div>
                    <div class="unit-3-body">
                        <p>We have experienced innovators who can help in setup your businesss with ease.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos-delay="500">

                <div class="unit-3 h-100 bg-white">

                    <div class="d-flex align-items-center mb-3 unit-3-heading">
                        <div class="unit-3-icon-wrap mr-4">
                            <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                    <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                  </svg><span class="unit-3-icon icon fl-bigmug-line-clipboard68"></span>
                        </div>
                        <h2 class="h5">Easy To Manage Ideas</h2>
                    </div>
                    <div class="unit-3-body">
                        <p>Innovators can Manage Their Ideas with various Categories and Subcategories with proper Documentation with proper description.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-4" data-aos-delay="600">

                <div class="unit-3 h-100 bg-white">

                    <div class="d-flex align-items-center mb-3 unit-3-heading">
                        <div class="unit-3-icon-wrap mr-4">
                            <svg class="unit-3-svg" xmlns="http://www.w3.org/2000/svg" width="59px" height="68px">
                    <path fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none" d="M29.000,66.000 L1.012,49.750 L1.012,17.250 L29.000,1.000 L56.988,17.250 L56.988,49.750 L29.000,66.000 Z"></path>
                  </svg><span class="unit-3-icon icon fl-bigmug-line-user143"></span>
                        </div>
                        <h2 class="h5">Online Reviews</h2>
                    </div>
                    <div class="unit-3-body">
                        <p>After Suing this Every body can send us feedback with rating based on we can working on our system.</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>





{% endblock %}