{% extends 'customers/inc/base.html' %}

{% block content %}
{% load static %}

<div class="unit-5 overlay" style="background-image: url({% static 'images/hero_bg_2.jpg' %}); "  >
      <div class="container text-center">
        <h2 class="mb-0">Change Password</h2>
        <p class="mb-0 unit-6"><a href="index.html">Home</a> <span class="sep">></span> <span>Change Password</span></p>
      </div>
    </div>

    <div class="site-section bg-light">
      <div class="container">
         {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
        <div class="row">
       
        <div class="col-lg-2">
            
          </div>
          <div class="col-md-12 col-lg-8 mb-5">
          
            
          
            <form action="" class="p-5 bg-white" method="post">
              {% csrf_token %}



            <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="email">Old Password</label>
                  <input type="text" id="old_password" class="form-control" name="old_password" placeholder="Enter Old Password">
                </div>
              </div>
               <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="email">New Password</label>
                  <input type="text" id="new_password" class="form-control" name="new_password" placeholder="Enter New Password">
                </div>
              </div>
               <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="email">Old Password</label>
                  <input type="text" id="rnew_password" class="form-control" name="rnew_password" placeholder="Confirm New Password">
                </div>
              </div>
            <div class="row form-group">
                <div class="col-md-12" style="position: relative;margin-top: 8px;">
                  <input type="submit" value="Update Password" class="btn btn-primary  py-2 px-4">
                  
                </div>
              </div>

  
            </form>
          </div>

         <div class="col-lg-2">
            
          </div>
        </div>
      </div>
    </div>

{% endblock %}