{% extends 'customer/inc/base.html' %}

{% block content %}
{% load static %}

<div class="unit-5 overlay" style="background-image: url({% static 'customer/images/hero_bg_2.jpg' %}); "  >
      <div class="container text-center">
        <h2 class="mb-0">Contact</h2>
        <p class="mb-0 unit-6"><a href="index.html">Home</a> <span class="sep">></span> <span>Contact</span></p>
      </div>
    </div>

    <div class="site-section bg-light">
      <div class="container">
        
        <div class="row">
       
          <div class="col-md-12 col-lg-8 mb-5">
          
            
          
            <form action="" class="p-5 bg-white" method="post">
              {% csrf_token %}

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <label class="font-weight-bold" for="fullname">Full Name</label>
                  <input type="text" id="fullname" name="name" class="form-control" placeholder="Full Name" required="" pattern="[a-zA-Z]{3,10}" title="FullName Must Be Atleast 3 Characters">
                  <span style="color: blue">FullName Must Be Atleast 3 Characters*</span>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="email">Email</label>
                  <input type="email" id="email" name="email" class="form-control" placeholder="Email Address" required="">
                  <span style="color: blue">Required*</span>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="email">Contact</label>
                  <input type="text" id="contact" name ="contact" class="form-control" placeholder="Enter Your Contact" required="" pattern="[0-9]{10}" title="Mobile Number must be of 10 Digit">
                  <span style="color: blue">Mobile Number must be of 10 Digit*</span>
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="email">Subject</label>
                  <input type="text" id="subject" class="form-control" name="subject" placeholder="Enter Subject" required="" pattern="[a-zA-Z]{5,50}" title="Must Be Characters between 5 to 50">
                  <span style="color: blue">Must Be Characters between 5 to 50*</span>
                </div>
              </div>
              

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="message">Message</label> 
                  <textarea name="message" id="message" name="message" cols="30" rows="5" class="form-control" placeholder="Say hello to us" required=""></textarea>
                  <span style="color: blue">required*</span>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send" class="btn btn-primary  py-2 px-4">
                </div>
              </div>

  
            </form>
          </div>

          <div class="col-lg-4">
            <div class="p-4 mb-3 bg-white">
              <h3 class="h5 text-black mb-3">Contact Info</h3>
              <p class="mb-0 font-weight-bold">Address</p>
              <p class="mb-4">602, Kaivanna Complex Near Centrall Mall,
                Panchvati, Ambawadi.Elisbdrige -380006</p>

              <p class="mb-0 font-weight-bold">Phone</p>
              <p class="mb-4"><a href="#">+91 9016 6474 80</a></p>

              <p class="mb-0 font-weight-bold">Email Address</p>
              <p class="mb-0"><a href="#">praxware@gmail.com</a></p>

            </div>
            
            <div class="p-4 mb-3 bg-white">
              <h3 class="h5 text-black mb-3">More Info</h3>
              <p>Drop your Query Here to get Solution</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}