{% extends 'customer/inc/base.html' %}
{% block title %}
 Search Business Ideas
{% endblock %}

{% block javascript %}
{% csrf_token %}
  <script type="text/javascript">

    $("#category").change(function () {
      cat_id = $("#category").val();

      $.ajax({
             type:"POST",
             url:"/customer/search",
             data: {
                       "cat_id" :cat_id,
                       'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
                   },
             dataType: 'json',
             success:function(response)
             {
                var len = response.length;
                $("#subcategory").empty();
                for( var i = 0; i<len; i++)
                {
                    var id = response[i]['pk'];
                    var name = response[i]['fields']['subcat_name'];
                    $("#subcategory").append("<option value='"+id+"'>"+name+"</option>")
                }
             }

      });
    });
  </script>
{% endblock %}

{% block content %}
{% load static %}

    <div class="unit-5 overlay" style="background-image: url({% static 'customer/images/hero_bg_2.jpg' %}); ">
      <div class="container text-center">
        <h2 class="mb-0">Business Ideas</h2>
        <p class="mb-0 unit-6"><a href="/">Home</a> <span class="sep">></span> <span>Search Idea</span></p>
      </div>
    </div>





    <div class="site-section bg-light">
      <div class="container">
        <div class="row row-custom align-items-center">
          <div class="col-md-10">
            <h1 class="mb-2 text-black w-75"><span class="font-weight-bold">Largest Portal</span> For Business Ideas</h1>
            <div class="job-search">
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active py-3" id="pills-job-tab" data-toggle="pill" href="#pills-job" role="tab" aria-controls="pills-job" aria-selected="true">Find Your Business Idea</a>
                </li>
              
              </ul>
              <div class="tab-content bg-white p-4 rounded" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-job" role="tabpanel" aria-labelledby="pills-job-tab">
                  <form action="/customer/ideas" method="post">
                    {% csrf_token %}
                    <div class="row">
                      <!-- <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                        <input type="text" class="form-control" placeholder="eg. Web Developer">
                      </div> -->
                      <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
                        <div class="select-wrap">
                          <span class="icon-keyboard_arrow_down arrow-down"></span>
                          <select name="category" id="category" class="form-control">
                            <option value="">Select Category</option>
                              {% for cat in categories %}
                               <option value="{{cat.id}}">{{cat.cat_name}}</option>
                              {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-4 mb-3 mb-lg-0">
                        <div class="select-wrap">
                          <span class="icon-keyboard_arrow_down arrow-down"></span>
                          <select name="subcategory" id="subcategory" class="form-control">
                                <option value="">Select Subcategory</option>
                          </select>
                        </div>
                      </div>
                      <!-- <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                        <input type="text" class="form-control form-control-block search-input" id="autocomplete" placeholder="Location" onFocus="geolocate()">
                      </div> -->
                      <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                        <input type="submit" class="btn btn-primary btn-block" value="Search">
                      </div>
                    </div>
                  </form>
                </div>
                <div class="tab-pane fade" id="pills-candidate" role="tabpanel" aria-labelledby="pills-candidate-tab">
                  <form action="#" method="post">
                    <div class="row">
                      <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                        <input type="text" class="form-control" placeholder="eg. Carl Smith">
                      </div>
                      <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                        <div class="select-wrap">
                          <span class="icon-keyboard_arrow_down arrow-down"></span>
                          <select name="" id="" class="form-control">
                            <option value="">Category</option>
                            <option value="fulltime">Full Time</option>
                            <option value="fulltime">Part Time</option>
                            <option value="freelance">Freelance</option>
                            <option value="internship">Internship</option>
                            <option value="internship">Termporary</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                        <input type="text" class="form-control form-control-block search-input" id="autocomplete" placeholder="Location" onFocus="geolocate()">
                      </div>
                      <div class="col-md-6 col-lg-3 mb-3 mb-lg-0">
                        <input type="submit" class="btn btn-primary btn-block" value="Search">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br/>

        {% for i in idea %}
        <div class="row" data-aos="fade">
         <div class="col-md-12">
           <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
              <div class="mb-4 mb-md-0 mr-5">
               <div class="job-post-item-header d-flex align-items-center">
                 <h2 class="mr-3 text-black h4" style="margin-left: 166px;">{{i.title}}</h2>
               </div>
               <div class="job-post-item-body d-block d-md-flex">
                 <div class="mr-3">
                  <img src="{% if i.user.innovatorprofile.profile_photo %}/media/{{i.user.innovatorprofile.profile_photo}}
                 {% else %} {% static 'myadmin/img/user.jpg' %} {% endif%}"" height="150" width="150">
                  <span style="margin-left: 25px;">{{i.user.first_name}} {{i.user.last_name}}</span>
                  <span><b>({{i.user.innovatorprofile.designation}}) </b></span>
                </div>
                 <div>
                      <span class="fl-bigmug-line-big104"></span> <span>{{i.user.innovatorprofile.city}}, {{i.user.innovatorprofile.state}}</span>
                      <p style="text-align: justify;">
                        {{i.small_description}}
                      </p>
                      <p>
                        <div class="ml-auto">
                              <a href="/customer/idea_details/{{i.id}}" class="btn btn-primary py-2">View Idea Details</a>
                        </div>
                      </p>
                 </div>
               </div>
              </div>
           </div>
         </div>
        </div>
        {% endfor %}
         



        

      </div>
    </div>





{% endblock %}