{% extends 'customer/inc/base.html' %}

{% block content %}
{% load static %}

<div class="unit-5 overlay" style="background-image: url({% static 'customer/images/hero_bg_2.jpg' %}); "  >
      <div class="container text-center">
        <h2 class="mb-0">SignIn</h2>
        <p class="mb-0 unit-6"><a href="index.html">Home</a> <span class="sep">></span> <span>SignIn</span></p>
      </div>
    </div>

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
       
        <div class="col-lg-2"></div>
          <div class="col-md-12 col-lg-8 mb-5">
          
             {% if messages %}
  <ul class="messages" style="position: relative;top:60px;left: 30px; color: red">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
          
            <form action="" class="p-5 bg-white" method="post">
              {% csrf_token %}


              <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="email">Username</label>
                  <input type="text" id="username" name="username" class="form-control" placeholder="Enter UserName" required>
                </div>
              </div>
            <div class="row form-group">
                <div class="col-md-12">
                  <label class="font-weight-bold" for="email">Password</label>
                  <input type="password" id="password" class="form-control" name="password" placeholder="Enter Password" required>
                </div>
              </div>
            <div class="row form-group">
                <div class="col-md-12" style="position: relative;top:7px;">
                  <input type="submit" value="Login" class="btn btn-primary  py-2 px-4">
                  <a href="signup">&nbsp; Not Registered Yet ?</a>
                </div>
              </div>

  
            </form>
          </div>

       
        </div>
      </div>
    </div>

{% endblock %}