{% extends 'customer/inc/base.html' %}
{% block title %}
 Search Business Ideas
{% endblock %}


{% block content %}
{% load static %}

    <div class="unit-5 overlay" style="background-image: url({% static 'customer/images/hero_bg_2.jpg' %}); ">
      <div class="container text-center">
        <h2 class="mb-0">Busimess Ideas</h2>
        <p class="mb-0 unit-6"><a href="index.html">Home</a> <span class="sep">></span> <span>Search Idea</span></p>
      </div>
    </div>



 <div class="site-section bg-light">
      <div class="container">
        <div class="row">

       
          <div class="col-md-12 col-lg-12 mb-5">
          
            <div class="span8">
    <ul class="breadcrumb">
    <li><span class="divider"></span></li>
    <li class="active">My ShoppingCart</li>
    </ul>
            
            <form method="post">
  <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Serial</th>
                  <th>Name</th>
                  <th>Price</th>
                  <th>Duration</th>
                  <th>Amount</th>
                  <th>Actions</th>
                  
         </tr>
              </thead>
              <tbody>
                 
                         <tr>
                            <td>{{idea_detail.idea_id}}</td>
                            <td>{{idea_detail.title}}</td>
                            <td>{{idea_detail.price}}</td>
                            <td>{{idea_detail.duration}}</td>
                            <td>{{idea_detail.price}}</td>
                            <td class="center">
                                <a class="btn btn-danger" href="/customer/clear_all_cart">
                                    <i class="glyphicon glyphicon-trash icon-white"></i>
                                   Remove
                                </a>
                             </td>
        
                </tr>  
                      
               
          
    
                <tr><td class="center" colspan="4" align="right">
                        <a class="btn btn-success" href="/customer/clear_all_cart">
                            <i class="glyphicon glyphicon-zoom-in icon-white"></i>Clear Cart
                       </a> 
                        <a class="btn btn-danger" href="/customer/order">
                            <i class="glyphicon glyphicon-trash icon-white"></i>Place Order
                        </a>
        </td>
        
        <th>Total Order</th>
        <td>{{idea_detail.price}}</td>
          </tr>
        
                
        </tbody>
            </table>
            
      
          </form>  
    
    
           
          </div>

         
        </div>
      </div>
    </div>

   
    



{% endblock %}