{% extends 'innovator/common/layout.html'%}

{% block content %}


			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">All Feedback</h1>

					<div class="row">
						<div class="col-12 col-xl-12">
							<div class="card">
								
								<table class="table">
									<thead>
										<tr>
											<th style="width:40%;">FeedbackId</th>
											<th style="width:25%">Customer</th>
											<th style="width:25%">Message</th>
											<th style="width:25%">Date</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>102</td>
											<td>Alkesh Kaba</td>
											<td>This is for Testing Purpose</td>
											<td>03/02/2021</td>
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
						
					</div>

				</div>
			</main>
{% endblock %}