{% extends 'innovator/common/layout.html'%}

{% block content %}

			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">All Inquiries</h1>

					<div class="row">
						<div class="col-12 col-xl-12">
							<div class="card">
								
								<table class="table">
									<thead>
										<tr>
											<th style="width:40%;">InquiryId</th>
											<th style="width:25%">Name</th>
											<th style="width:25%">Email</th>
											<th style="width:25%">Contact</th>
											<th style="width:25%">Message</th>
											<th>Date</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>101</td>
											<td>Alkesh Kaba</td>
											<td>alkesh@gmail.com</td>
											<td>9016647480</td>
											<td>Testing Purpose</td>
											<td>03/02/2021</td>
											
											
										</tr>
										
									</tbody>
								</table>
							</div>
						</div>
						
					</div>

				</div>
			</main>
{% endblock %}