<nav id="sidebar" class="sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="index.html">
          <span class="align-middle">OIBP</span>
        </a>

                <ul class="sidebar-nav">
                   

                    <li class="sidebar-item active">
                        <a class="sidebar-link" href="/innovator/dashboard">
              <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
            </a>
                    </li>

                    <li class="sidebar-item">
                        <a data-target="#ui" data-toggle="collapse" class="sidebar-link collapsed">
              <i class="align-middle" data-feather="edit"></i> <span class="align-middle">Ideas</span>
            </a>
                        <ul id="ui" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                            <li class="sidebar-item"><a class="sidebar-link" href="/innovator/add_idea">Add New Idea</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="/innovator/all_idea">All Ideas</a></li>
                            
                        </ul>
                    </li>
                   

                   


                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/innovator/orders">
              <i class="align-middle" data-feather="list"></i> <span class="align-middle">My Orders</span>
            </a>
                    </li>

                   <!--  <li class="sidebar-item">
                        <a class="sidebar-link" href="/myadmin/inquiry">
              <i class="align-middle" data-feather="book"></i> <span class="align-middle">Inquiries</span>
            </a>
                    </li> -->
                   
                    

                   <!--  <li class="sidebar-item">
                        <a class="sidebar-link" href="/myadmin/feedback">
              <i class="align-middle" data-feather="list"></i> <span class="align-middle">Feedbacks</span>
            </a>
                    </li> -->

                    
                    <li class="sidebar-item active">
                        <a class="sidebar-link" href="/customer/logout">
              <i class="align-middle" data-feather="Logout"></i> <span class="align-middle">Logout</span>
            </a>
                    </li>
                   
                    

                   
                    
                </ul>

              
            </div>
        </nav>