<nav id="sidebar" class="sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="index.html">
          <span class="align-middle" style="font-size: 24px; margin-left: 20px;">OIBP</span>
        </a>

                <ul class="sidebar-nav">
                   

                    <li class="sidebar-item active">
                        <a class="sidebar-link" href="/myadmin/dashboard">
              <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
            </a>
                    </li>

                    <li class="sidebar-item">
                        <a data-target="#ui" data-toggle="collapse" class="sidebar-link collapsed">
              <i class="align-middle" data-feather="edit"></i> <span class="align-middle">Categories</span>
            </a>
                        <ul id="ui" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                            <li class="sidebar-item"><a class="sidebar-link" href="/myadmin/add_cat">Add New Categories</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="/myadmin/all_cat">All Categories</a></li>
                            
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a data-target="#forms" data-toggle="collapse" class="sidebar-link collapsed">
              <i class="align-middle" data-feather="edit"></i> <span class="align-middle">SubCategories</span>
            </a>
                        <ul id="forms" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                            <li class="sidebar-item"><a class="sidebar-link" href="/myadmin/add_sub">Add Subcategory</a></li>
                            <li class="sidebar-item"><a class="sidebar-link" href="/myadmin/all_sub">All Subcategories</a></li>
                        </ul>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/myadmin/customers">
              <i class="align-middle" data-feather="user"></i> <span class="align-middle">Business Person</span>
            </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/myadmin/innovators">
              <i class="align-middle" data-feather="user"></i> <span class="align-middle">Innovators</span>
            </a>
                    </li>

                     <li class="sidebar-item">
                        <a class="sidebar-link" href="/myadmin/ideas">
              <i class="align-middle" data-feather="list"></i> <span class="align-middle">Ideas</span>
            </a>
                    </li>


                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/myadmin/orders">
              <i class="align-middle" data-feather="list"></i> <span class="align-middle">Orders</span>
            </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/myadmin/inquiry">
              <i class="align-middle" data-feather="book"></i> <span class="align-middle">Inquiries</span>
            </a>
                    </li>

                   
                    

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/myadmin/feedback">
              <i class="align-middle" data-feather="coffee"></i> <span class="align-middle">Feedbacks</span>
            </a>
                    </li>

                    
                    <li class="sidebar-item active">
                        <a class="sidebar-link" href="/myadmin/logout">
              <i class="align-middle" data-feather="Logout"></i> <span class="align-middle">Logout</span>
            </a>
                    </li>
                   
                    

                   
                    
                </ul>

              
            </div>
        </nav>