{% extends 'myadmin/common/layout.html'%}

{% block content %}
	  <main class="content">
                <div class="container-fluid p-0">

                    <div class="row mb-2 mb-xl-3">
                        <div class="col-auto d-none d-sm-block">
                            <h3><strong>Admin</strong> Dashboard</h3>
                        </div>

                        <div class="col-auto ml-auto text-right mt-n1">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb bg-transparent p-0 mt-1 mb-0">
                                    <li class="breadcrumb-item"><a href="#">Admin</a></li>
                                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                                    
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-xxl-12 d-flex">
                            <div class="w-100">
                                <div class="row">
                                    <div class="col-sm-12" style="background-color: white;">
                                       <br/><br/><br/>
                                       <br/><br/>
                                        <h3 style="font-size: 30px; color: blue; font-weight; position: relative; bottom: 40px;" align="center">Welcome to Online Innovators& Buisness Portal</h3>                                       
                                    </div>
                                </div>
                            </div>
                        </div>

                       

                </div>
            </main>

{% endblock %}