{% extends 'myadmin/common/layout.html'%}

{% block content %}

			<main class="content">
				<div class="container-fluid p-0">

					<h1 class="h3 mb-3">All Inquiries</h1>

					<div class="row">
						<div class="col-12 col-xl-12">
							<div class="card">
								
								<table class="table">
									<thead>
										<tr>
											<th style="width:40%;">InquiryId</th>
											<th style="width:25%">Name</th>
											<th style="width:25%">Email</th>
											<th style="width:25%">Contact</th>
											<th style="width:25%">Subject</th>
											<th style="width:25%">Message</th>
											<th>Inq.Date</th>
										</tr>
									</thead>
									<tbody>
										{% for row in result %}
										<tr>
											<td>{{row.id}}</td>
											<td>{{row.name}}</td>
											<td>{{row.email}}</td>
											<td>{{row.contact}}</td>
											<td>{{row.subject}}</td>
											<td>{{row.message}}</td>
											<td>{{row.inq_date}}</td>
											
											
										</tr>
										{% endfor %}
										
									</tbody>
								</table>
							</div>
						</div>
						
					</div>

				</div>
			</main>
{% endblock %}